[submodule "mattermost-slashjira"]
	path = mattermost-slashjira
	url = https://github.com/scottleedavis/mattermost-slashjira.git
	branch = master
[submodule "mattermost-remind"]
	path = mattermost-remind
	url = https://github.com/scottleedavis/mattermost-remind.git
	branch = master
